<div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group" role="group" aria-label="First group">
    <%= paginate list, remote: remote %>        
  </div>
  <div class="input-group pagination-infos">
    <%= page_entries_info list %>
  </div>
</div>
