<h1 class="app-page-title">Novo Livro</h1>
<hr class="mb-4">

<div class="row g-4">
  <div class="col-md-12">
      <div class="app-card app-card-settings shadow-sm p-4">						    
      <div class="app-card-body">
        <%= render 'form', book: @book %>
      </div><!--//app-card-body-->						    
    </div><!--//app-card-->
  </div>
</div>
